body {
  color: #40514e;
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 100%;
}

.paragraph {
  margin-top: 0px;
}

h1 {
  font-size: 5.265rem;
  color: #66bfbf;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  font-size: 2.5rem;
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top-container {
  background-color: #eaf6f6;
  position: relatve;
  padding-top: 100px;
}

.middle-container {
  padding: 100px 0;
}

.bottom-container {
  font-family: Helvetica, sans-serif;
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pro {
  text-decoration: underline;
}

p {
  line-height: 2;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 30%;
  margin: auto;
}
.contact-messsage {
  width: 40%;
  margin: 40px auto 60px;
}
.paid {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 280px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
}

.abcd1 {
  width: 50%;
  float: left;
  margin-right: 30px;
}

.abcd2 {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 20px 0 #000000;
  -moz-box-shadow: 1px 1px 20px 0 #000000;
  box-shadow: 1px 1px 20px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #337fed 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #337fed 1px;
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #32bc4a);
  background-image: -moz-linear-gradient(top, #30e3cb, #32bc4a);
  background-image: -ms-linear-gradient(top, #30e3cb, #32bc4a);
  background-image: -o-linear-gradient(top, #30e3cb, #32bc4a);
  background-image: -webkit-gradient(to bottom, #30e3cb, #32bc4a);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-decoration: none;
}
